:root{
    --dis:black;
    --width-max:1000px;
    --nav-hieght:5rem;
    --title-font-big:80px;
    --title-font-medium:40px;
    --title-font-small:24px;
    --title-font:24px;
    --slide-image-height:400px;
    --dis-font:16;
    --img-size:500px;
}
body{
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.content-separator-background{
    background-color: #222;
    height: 30px;
    width:auto; 
    margin-top: 50px;
}

a{
    text-decoration: none;
    color:#222
 
}


.navigation-bar{

    background-color:#222;
    width: 100%;
    max-height: var(--nav-hieght);
    display: inline-flex;
    align-items:center;
    justify-content: center;
    position:relative;
    z-index: 10;
}


.logo{
    display: flex;
    
}

.logo img{
    height: var(--nav-hieght);

}

.navigation .logo h1{
    color:white;
}

.navigation-bar .stack{
    
    width: calc(var(--nav-hieght) / 2);
    padding: 10px;
    max-height: var(--nav-hieght);
    position: absolute;
    right:10px;
    display:flex;
    flex-direction: column;
    gap:5px;
  
}

.stack-element{
    background-color:rgb(255, 255, 255);
    width: calc(var(--nav-hieght) / 2);
    height: 0.5rem;
   
}

.stack-menu{
    background-color:var(--dis);
    height: 500px;
    top:200px;
    position: absolute;
    width: 100%;
    visibility: hidden;
 
}

.navigation-bar .option{
    background-color: red;
    top: 80px;
    position: absolute;
    width: auto;
    height: 100px;
    z-index: 4;
}

footer{
    background-color: #222;
    height: 600px;
}

.footer-information{
    width: var(--width-max);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    font-size:20px;
    color: #ffffff;
    text-decoration: none;
}

.footer-information h3{
    color: rgb(241, 232, 161);
}

.footer-information a{
    color: rgb(255, 255, 255);
}
.footer-information-sponsor{
    width: 50%;
    display: flex;
    align-items: flex-start;
}

.footer-information-sponsor img{
    width: 25%;
}

.footer-information-link{
    width: 15%; 
}

.footer-information-media{
    width: 35%;
    
}

.footer-information-media-follow img{
   width: 15%;
   border-radius: 50%;
   
}
@keyframes poping {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}

@keyframes poping1 {
    from{
        width: 80px;
    
    }
    to{
        
        width: 90px;
    }
}

.footer-information-media-follow img:hover{
   
    animation: poping1 200ms ease-in;
    width: 90px;
    
    
 }









