:root{
    --dis:black;
    --width-max:1100px;
    --nav-hieght:5rem;
    --title-font-big:80px;
    --title-font-medium:40px;
    --title-font-small:24px;
    --title-font:24px;
    --slide-image-height:400px;
    --dis-font:16px;
    --img-size:500px;
    
}
body{
    margin: 0px;
    font-family:"Lato","Bebas Neue","Overpass",sans-serif;
    
}


.content-separator-background{
    background-color: #222;
    height: 30px;
    width:auto; 
    margin-top: 50px;
}

a{
    text-decoration: none;
    color:#222
 
}


.navigation-bar{

    background-color:#222;
    width: 100%;
    max-height: var(--nav-hieght);
    display: inline-flex;
    align-items:center;
    justify-content: center;
    position:relative;
    z-index: 10;
    animation: none;
}

.logo img{
    
    height: var(--nav-hieght);

}

.navigation .logo h1{
    color:white;
}

.navigation-bar .stack{
    
    width: calc(var(--nav-hieght) / 2);
    padding: 10px;
    max-height: var(--nav-hieght);
    position: absolute;
    right:10px;
    display:flex;
    flex-direction: column;
    gap:5px;
  
}

.stack-element{
    background-color:rgb(255, 255, 255);
    width: calc(var(--nav-hieght) / 2);
    height: 0.5rem;
   
}

.stack-menu{
    background-color:var(--dis);
    height: 500px;
    top:200px;
    position: absolute;
    width: 100%;
    visibility: hidden;
 
}

.navigation-bar .option{
    background-color: rgb(56, 55, 55);
    position: absolute;
    top: 80px;
    width: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}


.option nav{
    display: flex;
    align-items:center ;  
}

.option nav a{
    position: relative;
    color:rgb(255, 255, 255);
    padding: 0px 20px;
    margin: auto;
    

}

.option nav a:hover{
    color:rgb(0, 0, 0);
}





.option a i{
    padding: 0px 5px;
}



footer{
    background-color: #222;
    height: 600px;
    margin: 0;
}

.footer-information{
    width: var(--width-max);
    display: flex;
    margin: 0px auto;
    padding-top: 50px;
    font-size:20px;
    color: #ffffff;
    text-decoration: none;
}

.footer-information h3{
    color: rgb(241, 232, 161);
}

.footer-information a{
    color: rgb(255, 255, 255);
}
.footer-information .sponsor{
    width: 40%;
    display: flex;
    align-items: flex-start;
}

.footer-information .sponsor img{
    width: 25%;
}

.footer-information .link{
    width: 35%; 
}

.footer-information .media{
    width: 35%;
    
}

.footer-information .media-follow img{
   width: 15%;
   border-radius: 50%;
   
}
@keyframes slide {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

@keyframes slideback {
    from{
        transform: scale(1.05);
    }
    to{
        transform: scale(1);
    }
}

@keyframes pulldown {
    from{
        height: 0px;
    }
    to{
        height: 100px;
    }
}

@keyframes popping1 {
    from{
        width: 80px;
    
    }
    to{
        
        width: 90px;
    }
}

@keyframes popping {
    from{
       transform: scale(1);
    
    }
    to{
        
        transform: scale(1.02);
    }
}

@keyframes hovering{
    from{
       top: 0px;
    
    }
    to{
        
        top: 30px;
    }
}

.footer-information .media-follow img:hover{
   
    animation: popping1 200ms ease-in;
    width: 90px;
    
    
 }

.learn-more span:hover{
    background-color: antiquewhite;
}


.option nav a:before {  
    background-color: rgb(255, 200, 0);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 0px;
    content: "";
    transition: all 0.3s;
}

.option nav a:hover:before {  
    height: 100%;
    z-index: -1;
   
}

.option nav a:checked:before{
    height: 100%;
    z-index: -1;
}







