.cover-image{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: var(--width-max);
    
}

.content{
    width: var(--width-max);
    margin-left: auto;
    margin-right: auto;
}




