body{
    font-family: "PT Serif", "MS Serif", "New York", sans-serif;
}

p,h1{
    margin: 0px;
    font-family: 'PT Sans',sans-serif;
}

h2{

    padding-right:0px 0px;
    font-family: 'Poppins',sans-serif;
} 

.cover-image{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: var(--width-max);
    height: 450px;
    
}



.top-details{
    background-color: #000000;
    height: 100px;
    position: relative;
    display: flex;
    justify-items: center;
    margin-bottom: 30px;
}

.top-details .locatedate{
    display: inline-flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.top-details .locatedate strong{
    color:red;
}


.top-details .locatedate span{ 
    display: flex;
    color: white;
}

.top-details .organizer{
    position: absolute;
    flex-direction: row-reverse;
    right: 10px;
    gap: 40px;;
}

.top-details .organizer img{
    height: 50px;
    padding: 0px 10px;
}

.content{ 
   
    margin-left: auto;
    margin-right: auto;
    display: grid;
    place-items: center;
}

.content .background{
    background-image: url('../img/random-squirl-pattern-bg.png');
    background-size: contain;
    background-color: rgb(221, 221, 221);
    height:80px;
    width: 100%;
}

.content .title{
    width: var(--width-max);
    margin: 0 auto;
    height:80px;
    display: grid;
    place-items: center;
}

.content img
{
    width: var(--width-max);
    margin: 0 auto;
}

.content .title h1{
    color:rgb(0, 0, 0);
}


.content-details{
    width:var(--width-max);
    margin: 0px auto;
}


.content-details p{
   text-align: justify;
   line-height:30px;
}

.content-details h2{
    padding: 0 10px;
    background-color: rgb(255, 192, 97);
    width: var(--width-max);
    height: auto;
}

.content-news{
    margin-left: auto;
    margin-right:auto;
    max-width: var(--width-max);
}

.content-news{
    width: var(--width-max);
    padding: 100px;
}


.content-news .title{
    
    font-family: Overpass;
    font-size:var(--dis-font);
    display:flex;
    gap:20px;
}

.content-news .title h1{
    margin: 0; 
}

.content-news .title i{
    font-size: 40px;
}

.content-news .title img{
    width: 25px;
}


.content-news .grid-container{ 
    width: var(--width-max);
    padding-top:10px;
    display:grid;
    gap:3rem;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
}

.content-news .grid-element{

    background-color:rgb(255, 255, 255);
    height: auto;
    width: auto;
    border-radius:15px;
    box-shadow: 10px 10px 15px #e1e1e1 ;
    position: relative;
}

.content-news .grid-element:hover{
    box-shadow: 10px 15px 15px 10px #e1e1e1;
}




.grid-element img, .objective-information-card-element img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.content-news .description{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.content-news .description h1{
    color:rgb(253, 165, 2);
}

.content-news .description p{
    font-size: var(--dis-font);
;
}

.grid-element .sign{
    background-color: red;
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    top:10px;
    right: 10px;
    z-index: 5;
}

.grid-element .sign span{
    color:#ffffff;
    font-style:italic;
}


.content-news .locatedate{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-bottom: 10px;
}



.content-news .locatedate strong{
    font-size: var(--dis-font);
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.locatedate i {
    font-size:30px;
}

.content-news .locatedate span{
    margin:0px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.content-news .locatedate span p{
    margin:0px;   
}
 



