


.content-background{
   
    background-image: url('/Smakjit.com/img/SVG/Cambodia\ Background.svg');
    background-size:cover;
    background-repeat: repeat-x;
    width: 100%;
    height: 800px;

    padding-top:30px ;
    height:var(--slide-image-height);
    position: absolute;

}

.content-slide{
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
    max-width: var(--width-max);
    height: auto;
    border-radius: 25px;
    box-shadow: 0px 0px 2px 0px ;   
}



.content-slide .button{
    background-color: rgb(33, 33, 33,0.1);
    height:var(--slide-image-height);
    width: 80px;
    border-radius: 25px 0px 0px;

    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
   
}

#button-right{
 
    right:0;
    transform: rotateY(180deg);
}

.content-slide .button-arrow{
    position: absolute;
    border: 20px solid transparent;
    border-right: 20px solid rgb(255, 255, 255);
    z-index: 1;

}

.content-slide .button:hover{
    background-color: rgb(33, 33, 33,0.5);
}




.content-slide .image img{
    width:100%;
    height:var(--slide-image-height) ;
    border-radius: 25px 25px 0px 0px;
}

.content-slide .image-details{
    margin: auto;
    width: 90%;
    display: flex;
}



.content-slide .image-details h1{
    color:red;
    margin: 0;

}


.content-slide .image-details p{
    font-size: var(--dis-font);
    width: 50%;
    margin: 0;
}


.content-slide .details-description{
    width: 75%;
    padding-bottom: 50px;
}

.content-slide .learn-more{
    width: auto;
    align-items: center;
    padding-top: 40px;
}

.content-slide .learn-more a{
    background-color: red;
    color: white;
    font-size: var(--dis-font);
    text-decoration:solid;
    border-radius: 25px;
    padding:10px 40px;
}


.content-news .grid-container{
    margin-left: auto;
    margin-right:auto;
    max-width: var(--width-max);
}

.content-news{
    width: var(--width-max);

}


.content-news .title{
    padding:20px 0px;
    font-size:var(--dis-font);
    display:flex;
    align-items: center;
    height: 30px;
    gap:20px;
}

.content-news .title h1{
    height: 30px;
    margin: 0; 
}

.content-news .title img{
    width: 25px;
}


.content-news .grid-container{ 
    width: var(--width-max);
    padding-top:10px;
    display:grid;
    gap:3rem;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
}

.content-news .grid-element{

    background-color:rgb(255, 255, 255);
    height: auto;
    width: auto;
    border-radius: 25px;
    box-shadow: 10px 10px 15px #e1e1e1 ;
}

.content-news .grid-element:hover{
   
    box-shadow: 10px 15px 15px 10px #e1e1e1;
  
}







.grid-element img, .objective-information-card-element img{
    width: 100%;
    border-radius: 25px 25px 0px 0px;

}

.content-news .description{
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.content-news .description h1{
    color:red;
}

.content-news-grid-element-description p{
    font-size: var(--dis-font);
}


.content-news-grid-element-description-locatedate{
    position: relative;
    padding-bottom: 10px;
}

.content-news-grid-element-description-locatedate strong::before{
   
    background-image: url('/img/SVG/location.svg') ;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px; 
    height: 24px;
    content:"";

}

.content-news-grid-element-description-locatedate span p::before{
   
    background-image: url('/img/SVG/calendar.svg') ;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px; 
    height: 24px;
    content:"";

}

.content-news-grid-element-description-locatedate strong{
    font-size: var(--dis-font);
    color: red;

}




.content-news-grid-element-description-locatedate span p{
    margin:0px;
    
}

.info-help{
    
    height:auto;
    width:var(--width-max);
    margin-left: auto;
    margin-right: auto;
    display:flex;
    padding: 80px 200px;
   
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 0.1px solid rgb(202, 202, 202);
    box-shadow: 1px 10px 100px  rgb(97, 97, 97);
}

.info-help-callout{
  
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
   
}

.info-help-callout span{
    font: 1em Roboto;
    font-size:var(--title-font-big);
}

.info-help-callout p{
    font-size:var(--title-font-medium);
    width: 75%;
}


.info-help-callout-learn-more span{
    color: rgb(255, 255, 255);
    background-color: red;
    font-size:50px;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 25px;
    width: 100%;
}

.info-help img{
    position: relative;
    width: 50%;
    height: 50%;
    
}

.objective-information{
    width: var(--width-max);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.objective-information h1{
    color: red;
    font-size: var(--title-font-big);
}

.objective-information-card
{
    width: 100%;
    display: flex;
    gap:20px;
}

.objective-information-card-element
{
    background-color: #ffffff;
    width: 33%;
    border-radius: 25px;
    border: 1px solid rgb(211, 209, 209) ;
}

.objective-information-card-element p
{
    padding: 10px;
    font-size: var(--title-font-small);
    text-align: center;

}

#objective-information-card-element-center
{
    margin-top: 60px;
}

.additional-content-background{
    width: 100%;
    margin-top: 100px;
}

.addtional-content-container{
   width: var(--width-max);
   padding: 50px;
   display: flex;
   margin-left: auto;
   margin-right: auto;
  
}

.addtional-content-container img{
    width: var(--img-size);
    height: 100%;
 
 }
 

.additional-content-text{
    padding-left: 50px;
    width: 50%;
}

.additional-content-text-header h1{
    position: relative;
    font-size: 100px;
    margin: 0;
}

.additional-content-text-header h2{
    position: relative;
    font-size: 90px;
    top: 10px;
    left: 200px;
    margin: 0;
   
}

.additional-content-text p{
    font-size: 30px;
    position: relative;
    top:0;
    text-align: justify;
}

#bottom{
  

    margin-top: 0px;
    padding-left: 0px;
    box-shadow: none;
   
}

















